*.csv
*.jpeg
*.jpg
*.jpg
*.log
*.txt
*.pdf
*.pdf
*.pickle
*.png
*.png
*.pyc
*.safetensor
*.safetensors
*.zip
*.model
*.npy


.bash_history
.bashrc
.cache
.config
.coverage
.dotnet
.dmypy.json
.DS_Store
.env
.flake8
.gitconfig
.git-credentials
.gotty.auth
.huggingface
.ipynb_checkpoints
.ipython
.jupyter
.kaggle
.launchpadlib
.local
.mypy_cache
.netrc
.nv
.profile
.pytest_cache
.python_history
.ruff_cache
.ssh
.venv
.viminfo
.vscode-server
.vscode-remote-containers
.wandb
.wget-hsts

rclone.log
etmenv
nltk_data
past
scikit_learn_data
temporary
tmp
__pycache__

data/*
models/*

/**/mlruns
/**/outputs/*
/**/multirun/*
/**/wandb/*
/**/models/*
/**/lightning_logs/*
/**/tokens/*

!data/README.md
!models/README.md
!requirements.txt